.imgHero {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.hero__container {
  height: 100vh;
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3);
  object-fit: contain;
}

.hero__container>h1 {
  color: #fff;
  font-size: 5rem;
  margin-top: -3rem;
}

.hero__container>p {
  margin-top: 0.8rem;
  color: #fff;
  font-size: 2.5rem;
}

.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

@media screen and (max-width: 1220px) {
  .hero__container>h1 {
    font-size: 3.5rem;
    margin-top: -2rem;
  }

  .hero__container>p {
    font-size: 2rem;
  }
}

@media screen and (max-width: 960px) {
  .hero__container>h1 {
    font-size: 2.5rem;
    margin-top: -2rem;
  }
}

@media screen and (max-width: 768px) {
  .imgHero {
    display: none;
  }

  .hero__container {
    height: 40vh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain;
  }

  .hero__container>h1 {
    font-size: 2rem;

  }

  .hero__container>p {
    margin-top: 0.5rem;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 500px) {
  .hero__container>h1 {
    font-size: 1.5rem;

  }

  .hero__container>p {
    margin-top: 0.5rem;
    font-size: 1rem;
  }

  .btn {
  width: max-content;
  display: inline-block;
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor:pointer;
  border: 1px solid var(--color-primary);
  transition: var(--transition);
}
}